#root {
  margin: 0 auto;
  padding: 2rem;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.searchbar-container {
  position: fixed;
  top: 56px; /* Adjust this value based on the header's height */
  left: 0;
  right: 0;
  background-color: #fff;
  z-index: 1030;
}

.searchbar-container form {
  max-width: 1200px;
  margin: 0 auto;
}

.searchbar-container button {
  margin-top: 33px;
}

@media (max-width: 576px) {
  .searchbar-container button {
    margin-top: 0px;
  }
}

/* CourseRecords.css */

.course-records-container {
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
}

.column {
  flex: 1 1 50%;
  box-sizing: border-box;
}

.left-column {
  padding-right: 10px;
}

.right-column {
  padding-left: 10px;
}

.resource-item {
  margin-bottom: 15px;
}

.main-content {
  padding-top: 10em; /* Adjust based on the height of your navbar */
}

@media (max-width: 576px) {
  .main-content {
    padding-top: 100px; /* Adjust if navbar height changes on mobile */
  }
}

.logo__img {
  width: 150px;
  height: auto;
}
