/* Searchbar.css */
.searchbar-container {
  padding-top: 1em;
  padding-left: 2.5em;
  padding-right: 2.5em;
  padding-bottom: .5em;
  border-bottom: 1px solid #ccc;
  width: 100%;
}

/* Styles for the search toggle button */
.searchbar-toggle {
  border: none; /* Remove default border */
  background: none; /* Remove default background */
  padding: 0; /* Remove default padding */
  cursor: pointer;
}

/* Styles for the hamburger icon */
.searchbar-toggle .navbar-toggler-icon {
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  vertical-align: middle;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3E%3Cpath stroke='rgba(0, 0, 0, 0.5)' stroke-linecap='round' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
}

/* Styles for the expanded search bar (applied when isOpen is true) */
.searchbar-expanded {
  display: block;
  width: 100%;
}

/* Styles for the collapsed search bar (applied when isOpen is false) */
.searchbar-collapsed {
  display: none;
}

/* Media query for larger screens */
@media (min-width: 769px) {
  .searchbar-toggle {
    display: none; /* Hide toggle button on larger screens */
  }

  /* On larger screens, always show the searchbar content */
  .searchbar-container .searchbar-expanded,
  .searchbar-container .searchbar-collapsed {
    display: flex; /* Use flexbox for horizontal layout */
  }
}

.admin-page {
  height: 100vh;
  overflow: hidden;
}

.sidebar-wrapper {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  z-index: 1000;
  width: 300px; /* Adjust width as needed */
  transition: transform 0.3s ease;
}

.admin-main-content {
  margin-left: 300px; /* Same as sidebar width */
  height: 100vh;
  overflow-y: auto;
  transition: margin 0.3s ease;
}

.admin-sidebar {
  height: 100%;
  overflow-y: auto;
  box-shadow: 2px 0 5px rgba(0,0,0,0.1);
}

.mobile-toggle {
  position: absolute;
  right: -40px;
  top: 10px;
  z-index: 1001;
}

/* Responsive handling */
@media (max-width: 992px) {
  .sidebar-wrapper {
    transform: translateX(-100%);
  }
  
  .sidebar-wrapper.open {
    transform: translateX(0);
  }

  .admin-main-content {
    margin-left: 0;
  }
  
  .admin-sidebar {
    width: 100vw;
  }
}